root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 120
tab_width = 4

[{Makefile,packaging,*.sh}]
indent_style = tab
indent_size = 8

[{*.yaml,*.yml,spec}]
indent_size = 2
